import Wz{{properCase name}} from '../src/{{name}}.vue'

export default {
  title: 'Wz{{properCase name}}',
  component: Wz{{properCase name}}
}

export const {{properCase name}} = _ => ({
  components: { Wz{{properCase name}} },
  template: `
    <div>
      <wz-{{name}}></wz-{{name}}>
    </div>
  `
})